@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";

$yellow: #EAC67A;
$rust: #984b32;

html body {
    background-color: $primary !important;
}

button {
    max-height: 48px;
}

.card {
    background-color: $rust !important;
}

.table {
    background-color: $rust !important;
}

#mainContent {
    background-color: $primary !important;
}

#sideBar {
    background-color: $secondary !important;
}